* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.svg-udacity  {
    width: 7vw;
    height: 18vh;
    margin-top: 10%;
}
header  {
    line-height: 10%;
    padding-top: 60px;
}

.grid {
    margin: auto;
    width: 100%;
}

.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33%;
}
.col-5 {
    width: 41.66%;
}
.col-6 {
    width: 50%;   
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91.66%;
}
.col-12 {
    width: 100%;
}
h1  {
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    padding-left: 45%;
    color: #2d3c49;
}
h2  {
    font-family: 'Lato', sans-serif;
    font-size: 1.1rem;
    padding-left: 59%;
    color: #2d3c49;
}
h3  {
    font-family: 'Lato', sans-serif;
    color: #2d3c49;
    font-size: 1rem;
}
p  {
    font-family: 'Lato', sans-serif;
    color: #7d97ad;
}
.figure-logo {
    margin-left:3px;
}
.img-central  {
    width: 100%;
    margin: auto;
}
.img-footer  {
    display:flex;
    flex-direction: row;
}
.titulo-img {
    text-align: center
}
#logo {
    color: #02b3e4;
}
#line-alone {
    border: 2px solid #7d97ad;
}
@media screen and (min-width: 400px) and (max-width: 500px)  {
    .grid {
        width: 400px;
        margin-left: auto;
        margin-right: auto;
        }
        .row {
            width: 100%;
            display: flex;
            flex-wrap: wrap;  
        }
        h1 {
            width: 56vw;
        }
}

@media screen and (min-width: 800px) {
    .grid {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    }
    .row {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
}


/* @media  screen and (min-width: 400px) and (max-width:500px)  {
    .grid {
        margin-left: auto;
        margin-right: auto;
        width: 400px;
        }
        .row {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
        }
} */

/*@media only screen and (max-width: 500px) and (orientation: landscape)  {
       p  {
           display: none;  
    }
}*/

/*@media only screen and (min-width: 500px)  {
    p  {
        display: none;  
    }
}*/
/*
@media only print and (max-width: 500px)  {
    p  {
        display: none;  
    }
}*/