* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.svg-udacity {
    width: 7vw;
    height: 18vh;
    margin-top: 10%;
}

.grid {
    margin: auto;
    width: 100%;
}

.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.flex-class {
    width: 33.33%;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    color: #2d3c49;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    /* padding-left: 59%; */
    color: #2d3c49;
}

h3 {
    font-family: 'Lato', sans-serif;
    color: #7d97ad;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: 100;
}

p {
    font-family: 'Lato', sans-serif;
    color: #7d97ad;
    font-size: 1rem;
}

.figure-logo {
    margin-left: 3px;
}

.img-central {
    width: 100%;
    margin: auto;
}

.titulo-img {
    text-align: center
}

#logo {
    color: #02b3e4;
}

#line-alone {
    border: 2px solid #7d97ad;
}

.row-footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (min-width: 591px) and (max-width: 799px) {
    .grid {
        max-width: 590px;
        margin-left: auto;
        margin-right: auto;
    }
    .row {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .img-footer {
        width: 100%;
    }
    p {
        font-family: 'Lato', sans-serif;
        color: #7d97ad;
        font-size: 0.8rem;
    }
    h1 {
        font-size: 2.2rem;
        font-weight: 200;
        padding-left: 20%;
        letter-spacing: 5px;
    }
    h2 {
        font-size: 1.3rem;
        font-weight: 200;
        padding-left: 20%;
        letter-spacing: 2px;
    }
}

@media only screen and (max-width: 589px) {
    .grid {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    .row {
        max-width: 400px;
        display: flex;
        flex-wrap: wrap;
    }
    h1 {
        font-size: 2rem;
        font-weight: 200;
        letter-spacing: 5px;
    }
    h2 {
        font-size: 1.3rem;
        font-weight: 200;
        letter-spacing: 2px;
    }
    #img-central {
        max-width: 100%;
    }
    .row-footer {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .titulo-img {
        text-align: center;
    }
    .svg-udacity {
        width: 13vw;
        height: 22vh;
        margin-top: 10%;
    }
    .img-footer  {
        width: 70%;
    }
    .flex-class {
        width: 50%;
    }
    h3 {
        font-family: 'Lato', sans-serif;
        color: #7d97ad;
        font-size: 1.2rem;
        letter-spacing: 1px;
        font-weight: 100;
        margin-right: 30px;
    }
}

@media only screen and (min-width: 800px) {
    .grid {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
    .row {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    h1 {
        font-size: 2.2rem;
        font-weight: 200;
        padding-left: 20%;
        letter-spacing: 5px;
    }
    h2 {
        font-size: 1.3rem;
        font-weight: 200;
        padding-left: 20%;
        letter-spacing: 2px;
    }
    #header-section {
        line-height: 10%;
        padding-top: 12%;
    }
    .row-footer {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .img-footer  {
        width: 100%;
    }
}